@{
    ViewData["Title"] = "Sign Up";
}
<html>
    <head>
        <link rel="stylesheet" href="~/css/signUp.css" asp-append-version="true" />
        <script src="~/js/signUp.js" type="text/javascript"></script>
    </head>

    <article style="margin:70px"/>

    <body>

        <div id="header">Rooster Membership</div>

        <div id="container">
            <div class="hyperlink">
                <p>Get exclusive offers before everyone else!<a href="SignIn"> Already a member? Sign in!</a></p>
            </div>

            <img src="~/runner.jpg" style="width: 100%" />

            <div class="text-below-img">
                <h1>A community that keeps growing.</h1>
                <p>Join our community where we all have a common goal: to be better every day. You will get access to exclusive products and offers. All this for free.</p>
            </div>
            <a href="SignUp/Register"><button class="sign-up-button">Join Us</button></a>
        </div>

    </body>
</html>