@model CustomerViewModel

@{
    ViewData["Title"] = "Register";
}
<article style="margin:70px"></article>

<head>
    <link rel="stylesheet" href="~/css/register.css" asp-append-version="true" />
</head>

<body>

    @Html.AntiForgeryToken()

    <div class="title-name">
        <h1>Become a Rooster member</h1>
    </div>

    <div class="register-container">
        <div class="bottom-text">
            <p>Join us and get first hand access to our products and community.</p>
        </div>
    </div>

    <div class="register-container">

        <form asp-action="Register" class="textbox-container">

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="EmailAddress" class="form-controller white-text z-depth-0 pl-5" type="email" placeholder="Email address" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-controller white-text z-depth-0 pl-5" type="password" placeholder="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="FirstName" class="form-controller white-text z-depth-0 pl-5" type="text" placeholder="First name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="LastName" class="form-controller white-text z-depth-0 pl-5" type="text" placeholder="Last name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Birth" class="form-controller white-text z-depth-0 pl-5" type="text" placeholder="Date of Birth" onfocus="(this.type='date')" onfocusout="(this.type='text')" />
                <span asp-validation-for="Birth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Country" class="form-controller white-text z-depth-0 pl-5" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>

@*            <div class="country-dd">
                <select asp-for="name" class="dropdown-country white-text z-depth-0 pl-5">
                    <option class="country" value="" disabled selected>Country</option>
                    @foreach (var country in Model)
                    {
                        <option>
                            @Html.DisplayFor(a => country.name)
                        </option>
                    }
                </select>
                <span asp-validation-for="name" class="text-danger"></span>
            </div>*@

            <div class="gender-dd">
                <select asp-for="Gender" class="dropdown-gender white-text z-depth-0 pl-5">
                    <option class="gender" value="" disabled selected>Gender</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>            

            <div class="policy-text">
                <p>By creating an account you agree to Rooster's <a href="">Privacy policy</a> and <a href="">Terms of Use</a>.</p>
            </div>

            <div class="button-container">
                <input class="signUp-btn" type="submit" value="Create account"/>
            </div>

           <div class="login-link">
                <p>Already a member? <a href="/SignIn">Sign in</a></p>
           </div>

        </form>
    </div>
</body>