.products-container {
    display: flex;
}

.models-container {
    max-width: 200px;
    margin: 40px;
}

.models-container h1 {
    font-size: 20px;
}

.models-container img {
    height: auto;
    max-width: 100%;
    transition: 0.2s;
}

.models-container img:hover {
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
