.title-name h1 {
    text-align: center;
    font-size:  24px;
}

.register-container {
    text-align: center;
    margin-bottom: 10px;
}

.bottom-text {
    text-align: center;
    width: 25%;
    display: block;
    margin: 0 auto;
}

.bottom-text p {
    color: gray;
    font-size: 14px;
}

.policy-text {
    text-align: center;
    display: block;
    margin: 0 auto;
    color: gray;
    font-size: 14px;
}

.textbox-container {
    width: 25%;
    height: 5%;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.form-controller {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-controller:focus {
    color: black;
}

.button-container a:hover {
    opacity: 0.8;
}

.signUp-btn {
    border: 0;
    height: 40px;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    color: white;
    background-color: black;
}

.dropdown-country {
    width: 100%;
    height: 40px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.country-dd select:invalid {
    color: lightgray;
}

.dropdown-gender {
    width: 100%;
    height: 40px;
    opacity: 0.8;
    margin-bottom: 10px;
}

.dropdown-gender select:invalid {
    color: lightgray;
}

.login-link {
    display: block;
    margin: 0 auto;    
}

.login-link p {
    color: gray;
}

.login-link a {
    color: black;
}

.snackbar-error i, .snackbar-success i {
    margin: 10px 22px;
    font-size: 2em;
    vertical-align: middle;
}

#snackbar-success {
    visibility: hidden;
    min-width: 250px;
    height: 6%;
    margin-left: -14%;
    background-color: #DFF2BF;
    color: #4F8A10;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-error {
    visibility: hidden;
    min-width: 250px;
    height: 6%;
    margin-left: -14%;
    background-color: #FFD2D2;
    color: #D8000C;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar-success.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

#snackbar-error.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        left: 0;
        opacity: 0;
    }

    to {
        left: 50%;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        left: 50%;
        opacity: 1;
    }

    to {
        left: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        left: 50%;
        opacity: 1;
    }

    to {
        left: 0;
        opacity: 0;
    }
}