@font-face {
    font-family: "Roboto Condensed";
    src: url(https://fonts.google.com/specimen/Roboto+Condensed);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 400px;
}

/*#region navbar*/
.navbar {
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    height: 70px;
}

.navbar a {
    float: left;
    margin: auto;
    color: black;
    display: block;
    text-align: center;
    padding: 5px;
    font-size: 17px;
    color: white;
    text-decoration: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*#endregion*/

/*#region navbar items*/
.brand-container {
    position: absolute;
    width: 135px;
    left: -2%;
    top: -17px;
}

.navbar-brand {
    height: auto;
    max-width: 100%;
}

.nav-item {
    position: relative;
    top: -20px;
    left: 30%;
}

.nav-item a:hover {
    border-bottom: 3px solid black;
}

.nav-item a:active {
    border-bottom: 3px solid red;
}

.nav-icon {
    position: relative;
    top: -65px;
    cursor: pointer;
}
/*#endregion*/

/*#region small navbar*/
.pre-brand-item a {
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
    color: black;
    font-size: 12px;
    text-align: center;
    margin-top: -5px;
    right: 0;
}

.pre-brand-item span.pre-sign-separator {
    position: relative;
    top: -3px;
}
/*#endregion*/

/*#region searchbar*/
.input-group {
    left: -80px;
}

/*Searchbar*/
.form-control {
    border-radius: 25px;
    border: 0;
    position: relative;
    top: -30px;
    width: 100px;
    right: -10px;
    transition: ease-in-out, width .35s ease-in-out;
}

.form-control:hover {
    background-color: lightgray;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: lightgray;
    width: 180px;
}

.input-group input {
    padding-left: 37px;
}

/*Search button*/
.input-group-btn i {
    border-radius: 25px;
    position: relative;
    top: -12px;
    padding: 9px;
    left: -17px;
}

.input-group-btn i:hover {
    background-color: lightgray;
}

.input-group button {
    position: relative;
    border-radius: 25px;
    width: 10%;
    height: 25px;
    right: -17px;
}
/*#endregion*/
