html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 400px;
}

.navbar {
    position: fixed;
    display: block;
    top: 0;
    width: 100%; 
    transition: top 0.3s;
}

.navbar a {
    float: left;
    margin: auto;
    color: black;
    display: block;
    text-align: center;
    padding: 12px;
    font-size: 17px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    border-bottom: 3px solid red;
}

.navbar a:active {
    border-bottom: 3px solid red;
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}