@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/slideshow.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
</head>


<article style="margin:70px"/>
<body>
    <div class="content-container">
        <div class="text-container">
            <h1>Update your style today!</h1>
            <p>Shoes have come to play a big role in your apperance and what tale your style tells.</p>
            <p>
                We at RoosterStore belive that nothing stands out more than a fresh pairs of sneakers.
                We belive that a persons style reflects on their personality and that is why
                we want to help you find a match between your style and personality.
            </p>
        </div>

        <div class="slideshow">
            <div class="slideshow-container">
                <div class="mySlides">
                    <img src="~/nike-dunk-low-veneer.jpg" style="width:100%" />
                </div>
                <div class="mySlides">
                    <img src="~/skor-air-jordan-1.jpg" style="width:100%" />            
                </div>
                <div class="mySlides">
                    <img src="~/wildhorse-7.jpg" style="width:100%" />            
                </div>
            </div>
        </div>
    </div>
    <div class="popular-products">

    </div>
</body>




<script src="~/js/slideshows.js" type="text/javascript"></script>