@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/slideshow.css" asp-append-version="true" />

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="slideshow">
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="~/nike-dunk-low-veneer.jpg" style="width:100%" />
        </div>
        <div class="mySlides">
            <img src="~/sb-nyja.jpg" style="width:100%" />            
        </div>
        <div class="mySlides">
            <img src="~/wildhorse-7.jpg" style="width:100%" />            
        </div>
    </div>
</div>

<script src="~/js/slideshows.js" type="text/javascript"></script>