@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="slideshow">
    <script src="~/js/slideshows.js" type="text/javascript"></script>
    <div class="slideshow-container">
        <div class="mySlides fade">
            <img src="../Images/LilNasX.jpeg" style="width=100%" />
        </div>
        <div class="mySlides fade">
            <img src="../Images/sb-nyja.jpg" style="width:100%" />
        </div>
        <div class="mySlides fade">
            <img src="../Images../Images/wildhorse-7.jpg" style="width:100%" />
        </div>
    </div>
</div>